*{
margin:0px;
padding:0px;
}
body{
	background-image:url("../images/bd1.jpg");
background-size:cover;
background-repeat:no-repeat;
background-color: rgba(255, 255, 255, 0.3);
}
.hbgcolor h1, .in{
	color:#fff;
}
 .row {
margin-right: 0px;
margin-left: 0px;
}
.header-fullwidth .row-1 {
background-color: rgba(255, 255, 255, 0.3);
    min-height: 105px;
}
.hrmtop{
margin-top:34px;
}
.hrmtop a{
margin-left:14px;
color: #fff;
}
/* search form start */
.search-padding-bg{
	padding:20px;
background-color: rgba(255, 255, 255, 0.3);
}

.iwant{
	padding-top:5px;
	font-weight:400;
	font-size:18px;
	
}

.btn-dgn{
	background-color: rgba(255, 255, 255, 0.7);
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    outline: medium none;
    margin-top:20px;
    		background-image:url("../images/search.png");
background-position:right center;
background-repeat:no-repeat;
width:150px;
margin-right:20px;
	
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9{
	margin:0px;
	padding:0px;
}
.search-form-bs{
	margin-top:150px;
	margin-bottom:160px;
}
.location{
		background-image:url("../images/locator.png");
background-position:right center;
background-repeat:no-repeat;
}
 .bloodgroup{
 	background-image:url("../images/searchbd.png");
background-position:right center;
background-repeat:no-repeat;
 }
.form-control{
	background-color: rgba(255, 255, 255, 0.7);
	border:opx;
	border-radius:0px;
	outline:0px;
	
}
/* search form end */
login form start 
.input-group-1 span{
  display: inline;
display: inline;
left: 14px;
position: relative;
top: 27px;
width: 30px;
}

.l-pwd{
		background-image:url("../images/pwd.png");
background-position:right center;
background-repeat:no-repeat;
}
.l-user{
		background-image:url("../images/user.png");
background-position:right center;
background-repeat:no-repeat;
}
.login-btn{
		background-color: rgba(255, 255, 255, 0.7);
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    outline: medium none;
    margin-top:20px;

width:100px;
margin-right:20px;
}
.input-group-1 input {
 border-radius:5px;

    margin-top: 13px;
 
margin-left:3%;
    width: 94%;
}

.loginform-dsplay{
	
	width:200px;
	height:240px;

	display:none;
	position:absolute;
	z-index:1;
	background-color: rgba(255, 255, 255, 0.9);
}
.error{
	color:#f20;
	margin-left:20px;
	font-size:10px;
	font-weight:100;
}
ul li{
	
	list-style:none;
	width:100%;
	height:auto;
}

/* login form end */
.footer-fullwidth{
background-color: rgba(255, 255, 255, 0.3);
line-height:30px;
}


.loginform-dsplay a{
  color: #300;
	
}
/* popup start here */
.ppInfo{
	display:none;
	padding:15px;
	boder:1px solid #000;
	float:left;
	font-size:1.2em;
	position:fixed;


	z-index:99999;
	box-shadow:0px 0px 4px #000;
		-moz-box-shadow:0px 0px 4px #000;
			-webkit-box-shadow:0px 0px 4px #000;
			border-radius:5px;
				-webkit-border-radius:5px;
					-moz-border-radius:5px;
					background: rgb(255, 226, 221);
	
}
.dropdown-menu, .form-control{
	z-index:111111;
}
#mask{
	display:none;
	top:0;
	left:0;
	position:fixed;
	z-index:8888;
	width:100%;
	height:100%;
	opacity:1;
	background:#cc999c;
}
/* popup end here */
.width-mrgn{
width: 255px;
	height:auto;
	margin:0 auto;
}
.mgrn-top{
	top:100px;
}
.availability{
	margin-left:12px;
}
.forgot-pwd{
	
	width:100px;
	margin:0 auto;
	
}
.fbgcolor a{
	color:#000;
 line-height: 55px;
}
.pull-right{
	margin-right:10px;
}
#signup-popup .row{
	margin-top:10px;
}
textarea{
margin-left: 7px;
    padding: 0 12px;
    width: 96%;
}

.input-group{
	margin:10px;
}
/*tab start here*/
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

/* Tab Content */
.tab-pane {
    background: #F5F5F5;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}

.tab-pane h2, .tab-content span, label.radio-inline{
	color:#000;
}
.tab-content textarea{
	width:98%;
}
/* tab end here */
@media only screen and (max-width: 350px) {
	
}

@media only screen and (max-width: 350px) and (min-width:320px){
.loginform-dsplay{

    left: 100px;
    top: 123px;
}
.checkbox-inline, .radio-inline{
	padding-left:12px;
}
}
@media only screen and (max-width: 360px) and (min-width:355px){
.loginform-dsplay{

    left: 116px;
    top: 70px;
}
}
@media only screen and (max-width: 414px) and (min-width:361px){
	.loginform-dsplay{

    left: 116px;
    top: 70px;
}
	}
	@media only screen and (max-width: 480px) and (min-width:415px){
	.loginform-dsplay{

    left: 186px;
    top: 70px;
}
	}
		@media only screen and (max-width: 640px) and (min-width:481px){
	.loginform-dsplay{

    right: 86px;
    top: 70px;
}
	}
			@media only screen and (max-width: 800px) and (min-width:768px){
	.loginform-dsplay{

    right: 86px;
    top: 70px;
}
	}